@import "tailwindcss";
@plugin "daisyui";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


@keyframes swim-to-center {
    0% {
        transform: translateY(50%) scale(0.1);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes swim-to-center-com {
    0% {
        transform: translateY(1000%) scale(0.6);                                    
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.animate-swim {
    animation: swim-to-center 1s ease-out forwards;
}

.animate-swim-com {
    animation: swim-to-center-com 2s ease-out forwards;
}

.animate-swim-com1 {
    animation: swim-to-center-com 2.1s ease-out forwards;
}

.animate-swim-com2 {
    animation: swim-to-center-com 2.2s ease-out forwards;
}

.animate-swim-com3 {
    animation: swim-to-center-com 2.3s ease-out forwards;
}


@keyframes make-visible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-visible {
    animation: make-visible 1.5s ease-out forwards;
}

.animate-visible1 {
    animation: make-visible 3s ease-out forwards;
}


@keyframes swim-to-when-exit {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-50%) scale(0.1);
        opacity: 0;
    }
}

.animate-fade-out {
    animation: swim-to-when-exit 1s ease-out forwards;
}